@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background: #f0f0f7 cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #dadae3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #ffffff;
}

/* Make room for the menu icon on mobile */
.header__search {
  margin-left: 42px;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffff;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all 0.6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #43425d;
}

.sideHeader {
  font-size: 22px;
  display: flex;
  margin-top: 20px;
  margin-left: 25px;
}

.sidenav a {
  font-size: 15px;
  text-decoration: none;
  color: #ffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
}
.sidenav__list {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}

.sidenav__list-item:hover {
  background-color: rgba(0, 0, 0, 0.123);
  cursor: pointer;
}
.sidenav__list-item .active {
}

.main {
  grid-area: main;
  background-color: #f0f0f7;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  background-color: #e3e4e6;
  color: slategray;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin-top: 0;

  grid-gap: 20px;
  margin: 10px;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #ffff;
  height: auto;
}
.cardHeader {
  text-transform: uppercase;
  margin-top: -20;
}
.card-container {
  column-count: 1;
  column-gap: 20px;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 10px;
  margin-left: 20px;
  box-sizing: border-box;
}
.card p{
  font-size: 15px;
  padding-left: 20px;
  color: rgba(67, 66, 93, 0.527);
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: -40px;
}
.card h5{
  font-size: 20px;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
}
.card img{
  width: 70px;
  margin-right: 150px
}
.card-align{
  display: inline
}
.bodycard {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  align-content: center
}
.bodycard div{
margin: 20px
}
.card2 {
  height: 90vh;
}
.card-spacing {
  margin-left: -20px;
  height: 100%;
}
/* Force varying heights to simulate dynamic content */

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #f0f0f7;
}
/* ----------------------------------------------Header -------------------------------------------- */
.dropdown_container{
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
  justify-content: space-around;
  float: center;
  font-family: 'Source Sans Pro';
  color:rgba(0, 0, 0, 0.308);
  font-size: 13px;
}
.dropdown_container h6{
  font-size: 14px;
}

.dropdown_container hr{
  margin: 5px;
}
.dropdown_container i {

  color:#bcbccb;
}
/* -------------------------------------------Notification----------------------------------------  */
.notification_container{
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
  justify-content: space-around;
  float: center;
  font-family: 'Source Sans Pro' sans-serif;
  color:rgba(0, 0, 0, 0.308);
  font-size: 13px;
  width: 400px;
  padding:  15px
 
}
.notification_container h6{ 

  font-size: 16px;
}
.dropdown_container hr{}
.search-query{
  font-size: 14px;
  padding-left:25px;
}
.mins-ago{
  padding-left: 55px;
  font-size: 12px;
  margin-top: -5px;
  color: #808495b6;
}

.avatar_face {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: -7px;
  /* border: 1px solid black; */
 }

 .view_all{
   text-decoration: none;
   font-size: 12px;
   text-align: center;
   color: #3B86FF;
   font-family: 'Source Sans Pro' sans-serif;
 }
 .view_all a{
  text-decoration: none;
  font-size: 12px;
  color: #3B86FF
}
/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
    margin-left: 0;
  }

  .sidenav {
    /* position: relative; */
    position: fixed;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}

nav {
  background: #000;
  color: #ffff;
}
nav a {
  background: #000;
  color: #ffff;
}
nav a:hover {
  background: #000;
  color: rgb(202, 198, 198);
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background: url("./road.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Control the right side */
.right {
  margin-top: 10%;
  right: 0;
  background-color: rgb(255, 255, 255);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.remeber {
  margin-left: 0px;
}

.loginform {
  margin: 10px;
}
.loginput {
  margin: 10px auto;
  background: none;
  outline: none;
  transition: 0.25s;
  padding: 10px;
  border: none;
  border-bottom: rgb(226, 226, 226) 2px solid;
  width: 22em;
  font-family: "Montserrat" sans-serif;
  display: block;
}
.loginput:focus {
  color: #24232e;
  width: 23em;
}
.select {
  padding: 0;
  margin: 0 0 0 40px;
  height: 33px !important;
  color: black;
  background: #fff;
  border: 1px solid black;
  outline: none;
}

.loginButton {
  background: #43425d;
  color: #ffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  border-radius: 4px;
  margin-right: 50px;
  letter-spacing: 2px;
  width: 8em;
  transition: 0.25s;
}
.loginButton:hover {
  color: #ffff;
  background: #333347;
}

.registerButton {
  background: #ffffff;
  color: #43425d;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  border-radius: 4px;
  border: 2px #43425d solid;
  width: 8em;
  transition: 0.4s;
}
.registerButton:hover {
  color: #ffff;
  background: #333347;
}
.forgot {
  padding-top: 100px;
  padding: 10px;
  margin-left: 85px;
  color: #333347;
  display: inline;
  text-decoration: none;
}
.forgot:hover {
  color: #5c516d;
  text-decoration: none;
}
.loginHead {
  color: #333347;
  letter-spacing: 15px;
  font-family: "Source Sans Pro" sans-serif;
  font-weight: bold;
}
.sidebar {
  width: auto;
  background: #43425d;
  height: 100%;
  position: static;
  list-style: none;
}

.sidebar a {
  width: 16em;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #43425d;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

@media (max-height: 500px) {
  .social_media {
    display: none !important;
  }
}
@media screen and (max-width: 750px) {
  .left {
    width: 0px;
    display: none;
    background: #111;
  }

  .right {
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  .nav {
  }
  .nav-min {
  }
}

/*-------------------------test-------------------------*/
.Charts {
  margin: 0 auto;
  background-color: #f9f9f9;
  display: flex;
  align-items: flex-end;
  padding: 50px;
}
.Charts.horizontal {
  display: block;
}
.Charts.horizontal .Charts--serie {
  display: block;
  margin: 0 0 30px 0;
  border: 0;
}
.Charts.horizontal .Charts--serie label {
  position: relative;
  top: auto;
  right: auto;
  left: 0;
  bottom: auto;
  padding: 0 0 10px 0;
}
.Charts--serie {
  height: 100%;
  margin: 0 30px 0 0;
  display: inline-block;
  flex: 1;
  display: flex;
  align-items: flex-end;
  transform-origin: 0 100%;
  animation: slideUp .6s;
  position: relative;
  border-bottom: 1px solid #c2c2c2;
}
.Charts--serie.stacked {
  display: block;
}
.Charts--serie label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  text-align: center;
  color: #808080;
}
.Charts.horizontal .Charts--item {
  display: block;
  border-radius: 0 2px 2px 0;
  margin: 0 0 5px 0;
  height: 1em;
}
.Charts.horizontal .Charts--item b {
  position: absolute;
  right: -20px;
  top: .3em;
}
.Charts--item {
  background-color: #43A19E;
  display: inline-block;
  margin: 0 5px 0 0;
  flex: 1;
  transition: height 1s ease-out, width 1s ease-out;
  position: relative;
  text-align: center;
  border-radius: 2px 2px 0 0;
}
.Charts--item.layered {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  margin: 0;
}
.Charts--item.layered b {
  position: absolute;
  right: 0;
}
.Charts--item.stacked {
  position: relative;
  display: block;
  border-radius: 0;
}
.Charts--item b {
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  top: -20px;
  color: #43A19E;
}
.Legend--color {
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  width: 16px;
  height: 16px;
}
.Legend--label {
  display: inline-block;
  vertical-align: middle;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 0 0 5px;
}
@keyframes slideUp {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
