@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(235, 236, 245) cover;
}

/* This is the grid layout */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 56.2px 5fr 57px;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main main"
    "menu footer footer footer footer footer";
  grid-gap: 0 5px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}
._header {
  grid-area: header;
}
.jumbo {
  grid-area: main;
}
.jumbo_generic {
  height: 100%;
  background: #5c516d;
}
._sidebar {
  grid-area: menu;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;

}

.grid-container > *:nth-child(7) {
  height: 80%;
}

nav {
  background: #000;
  color: #ffff;
}
nav a {
  background: #000;
  color: #ffff;
}
nav a:hover {
  background: #000;
  color: rgb(202, 198, 198);
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background: url("./road.jpg");
}

/* Control the right side */
.right {
  margin-top: 10%;
  right: 0;
  background-color: rgb(255, 255, 255);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.remeber {
  margin-left: 0px;
}

.loginform {
  margin: 10px;
}
.loginput {
  margin: 10px auto;
  background: none;
  outline: none;
  transition: 0.25s;
  padding: 10px;
  border: none;
  border-bottom: rgb(226, 226, 226) 2px solid;
  width: 22em;
  font-family: "Montserrat" sans-serif;
  display: block;
}
.loginput:focus {
  color: #24232e;
  width: 23em;
}
.select {
  padding: 0;
  margin: 0 0 0 40px;
  height: 33px !important;
  color: black;
  background: #fff;
  border: 1px solid black;
  outline: none;
}

.loginButton {
  background: #43425d;
  color: #ffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  border-radius: 4px;
  margin-right: 50px;
  letter-spacing: 2px;
  width: 8em;
  transition: 0.25s;
}
.loginButton:hover {
  color: #ffff;
  background: #333347;
}

.registerButton {
  background: #ffffff;
  color: #43425d;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  border-radius: 4px;
  border: 2px #43425d solid;
  width: 8em;
  transition: 0.4s;
}
.registerButton:hover {
  color: #ffff;
  background: #333347;
}
.forgot {
  padding-top: 100px;
  padding: 10px;
  margin-left: 85px;
  color: #333347;
  display: inline;
  text-decoration: none;
}
.forgot:hover {
  color: #5c516d;
  text-decoration: none;
}
.loginHead {
  color: #333347;
  letter-spacing: 15px;
  font-family: "Source Sans Pro" sans-serif;
  font-weight: bold;
}
.sidebar {
  width: auto;
  background: #43425d;
  height: 100%;
  position: static;
  list-style: none;
}
.sidebar a {
  width: 16em;
  list-style: none;
  text-decoration: none;
  margin-bottom: 40px;
  margin-top: 80px;
}
@media screen and (max-width: 750px) {
  .left {
    width: 0px;
    display: none;
    background: #111;
  }

  .right {
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  .nav{
  }
  .nav-min{

  }
}
